.ivu-card-body{
  padding: 0px;

}
.ivu-card-bordered{
  border:none;
  text-align: right
}
.ivu-layout-header{
  background: #f9f9f9;
  padding:5px;
  // text-align: right;
}

.ivu-layout-content .layui-layer {
  box-shadow: antiquewhite!important;
}