@import '~iview/src/styles/index.less';

@menu-dark-title: #0369ab;
@menu-dark-active-bg: #056caf;
@layout-sider-background: #0369ab;



.ivu-table-tip::-webkit-scrollbar-track-piece,
form::-webkit-scrollbar-track-piece,
.ivu-select-dropdown::-webkit-scrollbar-track-piece {
  background: transparent !important;
}

.ivu-table-tip::-webkit-scrollbar-thumb,
form::-webkit-scrollbar-thumb,
.ivu-select-dropdown::-webkit-scrollbar-thumb {
  background-color: #ccc !important;
  background-clip: padding-box !important;
  border: solid transparent !important;
  min-height: 28px !important;
  padding: 100px 0 0 !important;
  border-radius: 15px !important;
}

.ivu-table-tip::-webkit-scrollbar-track,
form::-webkit-scrollbar-track,
.ivu-select-dropdown::-webkit-scrollbar-track {
  background-clip: padding-box !important;
  border: solid transparent !important;
  border-width: 0 0 0 4px !important;
}

.ivu-table-tip::-webkit-scrollbar-track-piece,
form::-webkit-scrollbar-track-piece,
.ivu-select-dropdown::-webkit-scrollbar-track-piece {
  background: transparent !important;
}

.ivu-table-tip::-webkit-scrollbar {
  width: 8px;
  height: 16px;
}

form::-webkit-scrollbar,
.ivu-select-dropdown::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

.ivu-modal-body {
  background: #f9f9f9 !important
}

.ivu-modal-footer {
  background: #f9f9f9 !important
}

.demo .ivu-form-item-label:before {
  content: "*" !important;
  display: inline-block !important;
  margin-right: 4px !important;
  line-height: 1 !important;
  font-family: SimSun !important;
  font-size: 12px !important;
  color: #f30 !important;
}
