.mangement{
  padding:5px 5px;
  font-size: .875rem;
  color: #000;
  .ivu-layout-header {
    background: #f9f9f9;
    padding: 0px!important;
    height: 40px!important;
    line-height: 40px!important;
  }
  
  .ivu-checkbox-wrapper{
    font-size: 14px!important;
    margin-left: 8px!important;
  }
  .buttongroup .ivu-btn-primary{
    margin-left: 5px;
  }
  .ivu-form-item{
    margin-bottom: 0px!important
  }
  .ivu-tabs-nav .ivu-tabs-tab:hover {
    color: #2d8cf0!important;
  }
  .ivu-select-item{
    font-size: .875rem!important
  }
  // .ivu-tabs-tab{
  //   color: #000!important;
  // }
  .ivu-select-single .ivu-select-selection .ivu-select-placeholder, .ivu-select-single .ivu-select-selection .ivu-select-selected-value{
    font-size: 14px;
  }
  .ivu-table-row{
    .ivu-table-column-center{
      height: 90px!important
    }
  } 
  .ivu-modal-footer {
    border-top: 1px solid #e8eaec;
    padding: 6px 18px 8px 18px!important;
    text-align: right;
  }
  .subCol>ul>li{
    margin:0 0px;
    list-style:none;
    text-Align: center;
    padding: 9px;
    // border-bottom:1px solid #ccc;
    overflow-x: hidden;
    cursor: pointer
  }
  .subCol>ul>li:last-child{
    border-bottom: none
  }
  .ivu-table-cell{
    padding: 0px!important
  }
  
}

.ivu-select-item{
  font-size: .875rem!important;
}
.ivu-select-selected-value{
  font-size: .875rem!important;
}
.ivu-select-placeholder{
  font-size: .875rem!important;
}
.ivu-date-picker{
  width: 100%;
}
.ivu-page-total{
  float: left;
}
.ivu-page{
  text-align:right;
  margin-top: 10px
}